@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital@1&display=swap');

body{
    background-color: #FAFAFA;
}
.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4em;
    margin-top: 4em;
}

.icono-principal{
    margin-left: 3em;
}

.icono-principal img{
    padding: 1em;
    height: 100px;
    width: 100px;
}

.titulo-principal {
    line-height: 60px;
    width: calc(75% - 1em);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-left: 1em;
}

.container-fechas-modalidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 3em;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.fecha {
    width: calc(75% - 1em);
}

.modalidad {
    width: calc(25% - 1em);
    border-left: 1px solid gray;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
}



.opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6em;
    gap: 2em;
    justify-content: center;
    padding: 1em;
}

.opcion {
    display: flex;
    flex-direction: column;
    width: calc(30% - 1.8em);
    background-color: white;
    margin: 2em;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

.titulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    /* font-family: 'Source Code Pro', monospace; */
    margin-left: 4em;
    margin-right: 4em;
}

.icono {
    display: inline-block;
    text-align: center;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
}

.profesor-avatar img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profesor-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profesor-avatar{
    margin-left: 4em;
}

.profesor-nombre{
    width: calc(75% - 1em);
    line-height: 51px;
    margin-left: 2em;
    font-family: 'Roboto', sans-serif;
}

#opcion:hover{
    background-color: #EEEEEE;
}