@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital@1&display=swap');
a{
    text-decoration: none;
    color: inherit;
}
.mi-curso {
    margin-left: 0.7em;
    margin-right: 0.7em;
    border-bottom: solid;
    font-family: 'Roboto', sans-serif;
}

.cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    gap: 1em;
    padding: 1em;
}

.cursos .curso {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    width: calc(33% - 0.5em);
    height: calc(33% - 0.5em);
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

.cursos .curso .icon {
    margin: auto;
    width: calc(15% - 0.2em);
    text-align: center;
}

.cursos .curso .progreso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(85% - 0.2em);
}

.icon img {
    width: 48px;
    height: 48px;
}
