@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital@1&display=swap');

body{
    background-color: #E5E7EB;
    margin: 0;
}
.menu-navegacion{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: 'Source Code Pro', monospace;
}

.menu-navegacion a{
    width: 20%;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: white;
    background-color: #1E88E5;
}

.menu-navegacion a:hover{
    background-color: #233fe2;
}

.menu-navegacion i{
    padding-left:1em;
    padding-right:1em;
    color: white;
}